repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.10
  hooks:
    - id: ruff
      args: [--fix]
      files: .
    - id: ruff-format
      files: .
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy
      files: .
      additional_dependencies:
        - pytest
